<div id='projectsBody'>
    <div class='project'>
        <h1>Modal Music Practice Game</h1>
        <iframe src='https://music-game.vercel.app/' title='Music App'></iframe>
        <div>A solution to memorizing all those pesky musical modes. Spend some time with this app and you will be able
            to tell them apart by ear!</div>
        <div class='badgeContain'>
            <a class='githubButton' href='https://github.com/philipwking/music-game'>Github</a>
            <a class='deployButton' href='https://music-game.vercel.app/'>Deployment</a>
            <a class='angularButton' href='https://angular.io/' alt='Angular'>Angular</a>
        </div>
    </div>
    <div class="break"></div>
    <div class='project'>
        <h1>Password Generator</h1>
        <iframe scrolling='no' src='https://password-generator-psi-flame.vercel.app/'
            title='Password Generator'></iframe>
        <div>Do you need a random password real fast with no nonsense? Bookmark this tool as it will surely come in
            handy next time you make an account. </div>
        <div class='badgeContain'>
            <a class='githubButton' href='https://github.com/philipwking/password-generator'>Github</a>
            <a class='deployButton' href='https://password-generator-psi-flame.vercel.app/'
                alt="password generator deployment">Deployment</a>
            <a class='reactButton' href='https://reactjs.org/' alt='react'>React</a>
        </div>
    </div>
</div>