<div class='p-12'>
    <div class='space-y-4'>
        <h1  class='block text-center p-4 text-4xl mt-16'>Winrate.gg</h1>
        <div class='block text-center p-4 sm:invisible sm:w-0 sm:h-0 xsm:visible'>
            this project is best experienced on desktop or at least in another tab (deployment below)
        </div>
        
        <div  class='blockl text-center p-4'>Using the Riot Games public API, view your past games and analyze the data. Not currently deployed because I don't want to pay for hosting.</div>

        <div  class='block text-center p-4'>
            <a class='sm:inline xsm:block p-4 m-4 bg-gradient-to-r from-red-400 to-yellow-400 rounded-full  border-4'href='https://github.com/philipwking/winrate.gg'>Github</a>
            <a class='sm:inline xsm:block p-4 m-4 bg-gradient-to-r from-yellow-400 to-green-400 rounded-full  border-4'href='https://winrate-nextjs.vercel.app/'
            alt="wwinrate deployment">Deployment</a>
            <a class='sm:inline xsm:block p-4 m-4 bg-gradient-to-r from-green-400 to-blue-400 rounded-full border-4 'href='https://reactjs.org/' alt='react'>React</a>
        </div>
    </div>

    <div >
        <h1 class='block text-center p-4 text-4xl' >Modal Music Practice Game</h1>
        <div class='block text-center p-4 sm:invisible sm:w-0 sm:h-0 xsm:visible'>
            this project is best experienced on desktop or at least in another tab (deployment below)
        </div>

        <div class='block text-center p-4'>A solution to memorizing all those pesky musical modes. Spend some time with this app and you will be able
            to tell them apart by ear!</div >

        <div  class='block text-center p-4'>
            <a class='sm:inline xsm:block p-4 m-4 bg-gradient-to-r from-red-400 to-yellow-400 rounded-full  border-4' href='https://github.com/philipwking/music-game'>Github</a>
            <a class='sm:inline xsm:block p-4 m-4 bg-gradient-to-r from-yellow-400 to-green-400 rounded-full  border-4'href='https://music-game.vercel.app/'>Deployment</a>
            <a class='sm:inline xsm:block p-4 m-4 bg-gradient-to-r from-green-400 to-blue-400 rounded-full border-4 'href='https://angular.io/' alt='Angular'>Angular</a>
        </div>
    </div>

    <div>
        <h1  class='block text-center p-4 text-4xl mt-16'>Password Generator</h1>
        <div class='block text-center p-4 sm:invisible sm:w-0 sm:h-0 xsm:visible'>
            this project is best experienced on desktop or at least in another tab (deployment below)
        </div>

        <div  class='blockl text-center p-4'>Do you need a random password real fast with no nonsense? Bookmark this tool as it will surely come in
            handy next time you make an account. </div>

        <div  class='block text-center p-4'>
            <a class='sm:inline xsm:block p-4 m-4 bg-gradient-to-r from-red-400 to-yellow-400 rounded-full  border-4'href='https://github.com/philipwking/password-generator'>Github</a>
            <a class='sm:inline xsm:block p-4 m-4 bg-gradient-to-r from-yellow-400 to-green-400 rounded-full  border-4'href='https://password-generator-psi-flame.vercel.app/'
                alt="password generator deployment">Deployment</a>
            <a class='sm:inline xsm:block p-4 m-4 bg-gradient-to-r from-green-400 to-blue-400 rounded-full border-4 'href='https://reactjs.org/' alt='react'>React</a>
        </div>
    </div>


    <div>
        <h1  class='block text-center p-4 text-4xl mt-16'>Save Your Jobs</h1>
        <div class='block text-center p-4 sm:invisible sm:w-0 sm:h-0 xsm:visible'>
            this project is an extension, follow the instructions in github to test it out.
        </div>
        
        <div  class='blockl text-center p-4'>A firefox extension that allows you to easily keep track of the jobs you apply too, with options to export the saved data to spreadsheets. To try it out, follow the install instructions on the repo.</div>

        <div  class='block text-center p-4'>
            <a class='sm:inline xsm:block p-4 m-4 bg-gradient-to-r from-red-400 to-yellow-400 rounded-full  border-4'href='https://github.com/philipwking/saveYourJobs'>Github</a>
            <a class='sm:inline xsm:block p-4 m-4 bg-gradient-to-r from-yellow-400 to-green-400 rounded-full  border-4'href='https://github.com/kryptokinght/react-extension-boilerplate'
            alt="password generator deployment">React Extension Boilerplate</a>
            <a class='sm:inline xsm:block p-4 m-4 bg-gradient-to-r from-green-400 to-blue-400 rounded-full border-4 'href='https://reactjs.org/' alt='react'>React</a>
        </div>
    </div>
</div>

