/* #projectsBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;

}

iframe{
    width: 100%;
    height: 620px;
    overflow: hidden;
    border-style: solid;
}

.break{
    padding: 10px;
}

.badgeContain{
    display:flex;
}

div{
    font-size: large;
    padding: 10px;
}

.githubButton{
    border-radius: 1000px;
    border-style: double;
    text-decoration: none;
}

.deployButton{
    border-radius: 1000px;
    border-style: double;
    text-decoration: none;

}

.angularButton{
    border-radius: 1000px;
    border-style: double;
    text-decoration: none;

}

.reactButton{
    border-radius: 1000px;
    border-style: double;
    text-decoration: none;

}

a{
    color:black;
    padding: 15px;
} */