
#appBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#navBar{
    background-color:white;

    font-size: xx-large;
    width: 80%;
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 10px 10px;
    border-style: solid;
}

.navlink{
    display:flex;
    align-items: center ;
}

#mainContain{
    background-color:white;

    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px;
    border-style: solid;
}

#linkedIn{
    
}

#emailMe{

}

a {
    text-decoration: none;
    color:black;
}

#github{

}


#footer{
    background-color:white;

    border-style: solid;
    width: 80%;
    border-radius: 25px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 100px;
    align-items: center ;
    font-size: xx-large;
    box-shadow: 10px 10px 10px;

}


