

<div class="container">
  <div class="border rounded-lg my-4 border-4 bg-gray-200 shadow-xl xsm:flex xsm:flex-col sm:flex-row sm:h-20 mt-24 sm:p-4">
    <img class='sm:block h-40 bg-white m-4 self-center border-black border-4 rounded-lg shadow-inner float-left' src='../assets/images/logo.png'>
    <div class='xsm:w-full md:w-auto cursor-pointer hover:bg-gray-200 sm:flex-1 font-bold text-center bg-white border-black border-4 rounded-lg shadow-inner p-1'(click)="toggle(0)">home</div>
    <div class='xsm:w-full md:w-auto cursor-pointer hover:bg-gray-200 sm:flex-1 font-bold text-center bg-white border-black border-4 rounded-lg shadow-inner p-1'(click)="toggle(1)">blog</div>
    <div class='xsm:w-full md:w-auto cursor-pointer hover:bg-gray-200 sm:flex-1  font-bold text-center bg-white border-black border-4 rounded-lg shadow-inner p-1'(click)="toggle(2)">projects</div>
  </div>

  <div class="container box-border border rounded-lg my-12 border-4 bg-gray-200 shadow-xl">
    <app-home *ngIf="show === 0"></app-home>
    <app-blog *ngIf="show === 1"></app-blog>
    <app-projects *ngIf="show === 2"></app-projects>
  </div>


  <div class="container box-border border rounded-lg my-12 border-4 sm:flex bg-gray-200 shadow-xl xsm:block">
    <a class='hover:bg-gray-200 m-8 p-4 sm:flex-1 md:text-xl sm:text-md sm:m-4 font-bold self-center bg-white rounded-full text-center border-black border-4 shadow-inner xsm:block xsm:text-sm' href='mailto:philipwking@gmail.com'>
      philipwking@gmail.com
    </a>
    <a class='hover:bg-gray-200 m-8 p-4 sm:flex-1 md:text-xl sm:text-md sm:m-4 font-bold self-center bg-white rounded-full text-center border-black border-4 shadow-inner xsm:block xsm:text-sm'href='https://www.linkedin.com/in/philip-king-0a80239b/'>
      LinkedIn
    </a>
    <a class='hover:bg-gray-200 m-8 p-4 sm:flex-1 md:text-xl sm:text-md  sm:m-4  font-bold self-center bg-white rounded-full text-center border-black border-4 shadow-inner xsm:block xsm:text-sm'href='https://github.com/philipwking'>
      Github
    </a>
    <a class='hover:bg-gray-200 m-8 p-4 sm:flex-1 md:text-xl sm:text-md  sm:m-4  font-bold self-center bg-white rounded-full text-center border-black border-4 shadow-inner xsm:block xsm:text-sm'href='../assets/images/philip_king_resume.pdf' download>
      Resume
    </a>
  </div>
</div>