

<div class="container">
  <div class="block flex border rounded-lg my-4 border-4 bg-gray-200 shadow-xl">
    <img class='flex-1 h-40 bg-white m-4 self-center border-black border-4 rounded-lg shadow-inner' src='../assets/images/logo.png'>
    <div class='flex-1 text-4xl font-bold text-center self-center bg-white my-14 mx-12 border-black border-4 rounded-lg shadow-inner p-2'(click)="toggle(0)">home</div>
    <div class='flex-1 text-4xl font-bold text-center self-center bg-white my-14 mx-12 border-black border-4 rounded-lg shadow-inner p-2'(click)="toggle(1)">blog</div>
    <div class='flex-1 text-4xl font-bold text-center self-center bg-white my-14 mx-12 border-black border-4 rounded-lg shadow-inner p-2'(click)="toggle(2)">projects</div>
  </div>

  <div class="container box-border border rounded-lg my-4 border-4 bg-gray-200 shadow-xl">
    <app-home *ngIf="show === 0"></app-home>
    <app-blog *ngIf="show === 1"></app-blog>
    <app-projects *ngIf="show === 2"></app-projects>
  </div>


  <div class="container box-border border rounded-lg my-4 border-4 flex bg-gray-200 shadow-xl">
    <a class='m-8 p-4 flex-1 text-3xl font-bold self-center bg-white rounded-full text-center border-black border-4 shadow-inner' href='mailto:philipwking@gmail.com'>
      philipwking@gmail.com
    </a>
    <a class='m-8 p-4 flex-1 text-3xl font-bold self-center bg-white rounded-full text-center border-black border-4 shadow-inner'href='https://www.linkedin.com/in/philip-king-0a80239b/'>
      LinkedIn
    </a>
    <a class='m-8 p-4 flex-1 text-3xl font-bold self-center bg-white rounded-full text-center border-black border-4 shadow-inner'href='https://github.com/philipwking'>
      Github
    </a>
  </div>
</div>