<div id='appBody'>
  <div id='navBar'>
    <div class='navlink' (click)="toggle(0)">home</div>
    <div class='navlink' (click)="toggle(1)">blog</div>
    <div class='navlink' (click)="toggle(2)">projects</div>
  </div>

  <div id='mainContain'>
    <app-home *ngIf="show === 0"></app-home>
    <app-blog *ngIf="show === 1"></app-blog>
    <app-projects *ngIf="show === 2"></app-projects>
  </div>


  <div id='footer'>
    <a id='emailMe' href='mailto:philipwking@gmail.com'>
      philipwking@gmail.com
    </a>
    <a id='linkedIn' href='https://www.linkedin.com/in/philip-king-0a80239b/'>
      LinkedIn
    </a>
    <a id='github' href='https://github.com/philipwking'>
      Github
    </a>
  </div>
</div>