
#appBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3D550C;
    color:#ECF87F;
    justify-content: space-between;
}


#navBar{
    font-size: xx-large;
    width: 80%;
    height: 100px;
    background-color: violet;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    background-color: #81B622;
    box-shadow: 10px 10px 1000px;
}

.navlink{
    display:flex;
    align-items: center ;
}

#mainContain{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #59981A;
    border-radius: 25px;
    box-shadow: 10px 10px 1000px;
}

#linkedIn{
    
}

#emailMe{

}

a {
    text-decoration: none;
    color:#ECF87F;
}

#github{

}


#footer{
    width: 80%;
    background-color: violet;
    border-radius: 25px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 100px;
    background-color: #81B622;
    align-items: center ;
    font-size: xx-large;
    box-shadow: 10px 10px 1000px;

}
