<div class='flex sm:flex-row xsm:flex-col'>
    <div class='sm:w-1/5 sm:m-2 rounded-lg xsm:w-full xsm:m-0'>
        <div class='text-center p-4 xsm:text-sm'>
            Articles:
        </div>
        <div class='text-center xsm:text-xs bg-white hover:bg-gray-200 cursor-pointer border-black border-2 rounded-lg overflow-visible' (click)="toggle(1)">
            Full FULL stack 5/10/21
        </div>
        <div class='text-center xsm:text-xs bg-white hover:bg-gray-200 cursor-pointer border-black border-2 rounded-lg' (click)="toggle(0)">
            Site Statement 5/10/21
        </div>

    </div>
    <div class='sm:w-4/5 m-2 bg-white rounded-lg xsm:w-full xsm:m-0'>
        <div *ngIf="show === 0">
            <h1 class='text-center font-black text-4xl p-4 xsm:text-sm'>
                Site Statment
            </h1>
            <p class='p-4 xsm:text-sm' >
                Welcome to my site! Heres what I plan to do with it:
            </p>
            <p class='p-4 xsm:text-sm'>
                I've always wanted a place where I could post the stuff I've made, so I made one. Right now I plan to maintain a projects section for 
                things I've coded and a little blog. In the future I'm thinking about adding more sections for music or other random stuff. 
                
                If you look to the home page you will find a list of technologies I have worked with.
                I'm open to offers and you can reach me at my email at the
                bottom of the site- or LinkedIn if thats more your cup of tea.
            </p>
            <p class='p-4 xsm:text-sm'>
                Concerning my blog: I want to get my 2 cents in. Indeed,
                the best way to learn is to do, so I will no doubt
                improve my writing as I continue to update this blog.
                 I want it to be a casual blog where I can focus on exploring ideas and expressing my opinion.
            </p>
            <p class='p-4 xsm:text-sm'> 
                Lastly, my site is an constantly changing experiment of technologies. In previous versions it relied
                on React but I have just recently redesigned it in Angular and then once more in Angular and
                Tailwind.css, the current deployment. I gotta say, I was hesitant about Tailwind initially but now I'm starting love it. 
                As I learn new tools I implement them into this site and continue to improve it. 
            </p>
        </div>

        <div *ngIf="show === 1">
            <h1 class='text-center font-black text-4xl p-4 xsm:text-sm'>
                Full FULL Stack
            </h1>
            <p class='p-4 xsm:text-sm'>
                It seems like every developer and their mother is a 'Full Stack Developer' and I have a bone to pick
                with that term.
                The implication behind the term is that the developer can basically create an application from start to
                finish by themselves. They can handle the
                front and back end, great.

            </p>
            <p class='p-4 xsm:text-sm'>
                But what about the hardware and hosting?
            </p>
            <p class='p-4 xsm:text-sm'>
                Most full stack developers still require hosting services, like vercel, which I'm using to host this.
                That fine- its very easy.
                But its not realllly full stack is it? I personally want to eventually host this portfolio site on my
                own server, on my own network, with one of those sick LED infested homelabs.
                Of course this is a lot of work and opens up a lot of vulnerabilities. If I host this on my own network
                and do it wrong, im inviting in
                bad actors into my home. It would also take a lot of time for the price of the server equipment to
                compare to the hosting fees.
            </p>
            <p class='p-4 xsm:text-sm'>
                Surely there are some upsides to this. I mean, it is a learning opportunity. You can have direct access
                to your server with no middle man charging you a fee.
                You can be directly responsible for your uptime, and can customize it in ways that might not be possible
                with a hosting service. I'm sure I will discover more
                benefits as I continue this journey.
            </p>
            <p class='p-4 xsm:text-sm'>
                Right now I have made a little progress. I got an old computer for free from a family member and installed Ubuntu Server on it. 
                After hours of troubleshooting a faulty driver I was able to get it connected to my network and accessed it from laptop via SSL.
                I'm not really sure what to do next.
            </p>
            <p class='p-4 xsm:text-sm'>
                To be continued, check in for an update soon!
            </p>
        </div>
    </div>
</div>