<div class='flex'>
    <div>
        <div class='text-9xl bg-clip-text text-transparent bg-gradient-to-l from-green-400 to-blue-400 font-black p-16 xsm:text-7xl xsm:p-2'>
            Philip King
        </div>
        <div class='lg:invisible lg:h-0 lg:w-0 xsm:invisible xsm:h-0 xsm:w-0 sm:visible sm:h-0 sm:w-0'>
            <img class='float-right' src="./assets/images/IMG_0604.png" alt='just a pic of me :)'>
        </div>
        <div class='lg:inline  p-4 m-2 lg:bg-gradient-to-r xsm:bg-gradient-to-b from-red-400 to-yellow-400 rounded-full  border-4 font-bold text-center md:w-5/5 md:block xsm:w-72'>
            <a href='https://reactjs.org/' alt='react js'>
                React
            </a>
        </div>
        <div class='lg:inline  p-4 m-2 lg:bg-gradient-to-r xsm:bg-gradient-to-b from-yellow-400 to-green-400 rounded-full  border-4 font-bold md:block text-center md:w-5/5 xsm:w-72'>
            <a href='https://angular.io/' alt='angular 2'>
                Angular
            </a>
        </div>
        <div class='lg:inline  p-4 m-2 lg:bg-gradient-to-r xsm:bg-gradient-to-b from-green-400 to-blue-400 rounded-full border-4 font-bold md:block text-center md:w-5/5 xsm:w-72'>
            <a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript' alt='javascript docs'>
                Javascript
            </a>
        </div>
        <div class='lg:inline  p-4 m-2 lg:bg-gradient-to-r xsm:bg-gradient-to-b from-blue-400 to-red-400 rounded-full  border-4 font-bold md:block text-center md:w-5/5 xsm:w-72'>
            <a href='https://developer.mozilla.org/en-US/docs/Web/HTML' alt='HTML docs'>
                HTML
            </a>
        </div>
        <div class='lg:inline  p-4 m-2 lg:bg-gradient-to-r xsm:bg-gradient-to-b from-red-400 to-yellow-400 rounded-full  border-4 font-bold md:block text-center md:w-5/5 xsm:w-72'>
            <a href='https://developer.mozilla.org/en-US/docs/Web/CSS' alt='CSS docs'>
                CSS
            </a>
        </div>
        <div class='lg:inline  p-4 m-2 lg:bg-gradient-to-r xsm:bg-gradient-to-b from-yellow-400 to-green-400 rounded-full  border-4 font-bold md:block text-center md:w-5/5 xsm:w-72'>
            <a href='https://dev.mysql.com/doc/' alt='mySQL docs'>
                SQL
            </a>
        </div>
        <div class='lg:inline  p-4 m-2 lg:bg-gradient-to-r xsm:bg-gradient-to-b from-green-400 to-blue-400 rounded-full  border-4 font-bold md:block text-center md:w-5/5 xsm:w-72'>
            <a href='https://docs.mongodb.com/' alt='mongodb docs'>
                MongoDB
            </a>
        </div>
        <div class='lg:inline p-4 m-2 lg:bg-gradient-to-r xsm:bg-gradient-to-b from-blue-400 to-red-400 rounded-full border-4 font-bold md:block text-center md:w-5/5 xsm:w-72'>
            <a href='https://tailwindcss.com/' alt='tailwindcss docs'>
                Tailwind.CSS
            </a>
        </div>
    </div>

    <div class='flex-1 border-black border-4 rounded-lg bg-white m-2 shadow-xl xsm:invisible xsm:h-0 xsm:w-0 lg:visible lg:h-auto lg:w-auto'>
        <img class='float-right' src="./assets/images/IMG_0604.png" alt='just a pic of me :)'>
    </div>
</div>