<div class='flex lg:p-4'>
    <div>
        <div
            class='sm:text-9xl bg-clip-text text-transparent bg-gradient-to-l from-green-400 to-blue-400 font-black sm:p-16 xsm:text-7xl xsm:p-2 text-center'>
            Philip King
        </div>
        <div
            class='sm:text-6xl bg-clip-text text-transparent bg-gradient-to-l from-green-400 to-blue-400 font-black sm:p-16 xsm:text-4xl xsm:p-2 text-center'>
            Full Stack Developer</div>
        <div class='lg:invisible lg:h-0 lg:w-0 xsm:invisible xsm:h-0 xsm:w-0 sm:visible sm:h-auto sm:w-auto'>
            <img class='float-right' src="./assets/images/IMG_0604.png" alt='just a pic of me :)'>
        </div>
        <a href='https://reactjs.org/' alt='react js'
            class='lg:ml-10 lg:inline p-4 lg:bg-gradient-to-r xsm:bg-gradient-to-b from-red-400 to-yellow-400 rounded-lg  border-4 font-black text-center md:w-5/5 md:block xsm:w-72 sm:w-auto xsm:block'>
            React
        </a>
        <a href='https://angular.io/'
            class='lg:inline  p-4 lg:bg-gradient-to-r xsm:bg-gradient-to-b from-yellow-400 to-green-400 rounded-lg  border-4 font-black md:block text-center md:w-5/5 xsm:w-72 sm:w-auto xsm:block'
            alt='angular 2'>
            Angular
        </a>
        <a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript'
            class='lg:inline  p-4  lg:bg-gradient-to-r xsm:bg-gradient-to-b from-green-400 to-blue-400 rounded-lg border-4 font-black md:block text-center md:w-5/5 xsm:w-72 sm:w-auto xsm:block'
            alt='javascript docs'>
            Javascript
        </a>
        <a href='https://developer.mozilla.org/en-US/docs/Web/HTML'
            class='lg:inline  p-4  lg:bg-gradient-to-r xsm:bg-gradient-to-b from-blue-400 to-red-400 rounded-lg  border-4 font-black md:block text-center md:w-5/5 xsm:w-72 sm:w-auto xsm:block'
            alt='HTML docs'>
            HTML
        </a>
        <a href='https://developer.mozilla.org/en-US/docs/Web/CSS'
            class='lg:inline  p-4 lg:bg-gradient-to-r xsm:bg-gradient-to-b from-red-400 to-yellow-400 rounded-lg  border-4 font-black md:block text-center md:w-5/5 xsm:w-72 sm:w-auto xsm:block'
            alt='CSS docs'>
            CSS
        </a>
        <a href='https://dev.mysql.com/doc/'
            class='lg:inline  p-4  lg:bg-gradient-to-r xsm:bg-gradient-to-b from-yellow-400 to-green-400 rounded-lg  border-4 font-black md:block text-center md:w-5/5 xsm:w-72 sm:w-auto xsm:block'
            alt='mySQL docs'>
            SQL
        </a>
        <a href='https://docs.mongodb.com/'
            class='lg:inline  p-4  lg:bg-gradient-to-r xsm:bg-gradient-to-b from-green-400 to-blue-400 rounded-lg  border-4 font-black md:block text-center md:w-5/5 xsm:w-72 sm:w-auto xsm:block'
            alt='mongodb docs'>
            MongoDB
        </a>
        <a href='https://tailwindcss.com/'
            class='lg:inline p-4 lg:bg-gradient-to-r xsm:bg-gradient-to-b from-blue-400 to-red-400 rounded-lg border-4 font-black md:block text-center md:w-5/5 xsm:w-72 sm:w-auto xsm:block'
            alt='tailwindcss docs'>
            Tailwind.CSS
        </a>
    </div>

    <div
        class='flex-1 bg-white border-2 border-black rounded-lg shadow-xl xsm:invisible xsm:h-0 xsm:w-0 lg:visible lg:h-full lg:w-auto mt-12'>
        <img class='float-right' src="./assets/images/IMG_0604.png" alt='just a pic of me :)'>
    </div>
</div>