#homeBody{
    display: flex;
    flex-direction: row;
    border-radius: 25px;
}

#picContain{
    padding: 30px;
    height:100%;
    width:100%;
    border-radius: 25px;
    padding-bottom: 0px;
}

#name{
    padding: 40px;
    font-size: 200px;
}

img{

}