<div id='homeBody'>
    <div id='description'>
        Hello and welcome to my new and improved website! My name is Philip and I'm a full FULL stack developer
        - which is a term I coined for a developer who knows the hardware portion of the back end. I don't have anything against
         subscription server hosting services, it was part curiosity that lead me this way, part practicality. It has always rang true
         (especially after covid) that IT has more demand than development. No one wants to take care of an existing systen and most 
         people would rather be a creator/visionary that makes something from nothing. Networking and security will have job security way longer
         than the ever-changing landscape of app development. You don't have to learn a new stack every other year or a million dependencies. 
         People often suggest getting a welding certificate or some trade education for the same reason I want to know IT. Web developing is like
         art... IT is like plumbing... I'd rather make art but I can plumb if the art doesnt pay the bills. 
    </div>
    <div id='picContain'>
        <img src="./assets/images/IMG_0604.png" alt='just a pic of me :)'>
    </div>
</div>
