#homeBody{
    display: flex;
    flex-direction: row;
    background-color: #59981A;
    border-radius: 25px;
}

#picContain{
    padding: 30px;
    height:100%;
    width:100%;
    background-color: #81B622;
    border-radius: 25px;
}

#description{
    padding: 40px;
    font-size: small;
}

img{
    width: 100%;
    height: 100%;
}